
.vs/RPMCRUDAPIs/DesignTimeBuild/.dtbcache.v2
.vs/RPMCRUDAPIs/v16/.suo
RPMCRUDAPIs/.config/dotnet-tools.json
RPMCRUDAPIs/bin/Debug/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/bin/Debug/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/bin/Release/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/bin/Release/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.csproj.CoreCompileInputs.cache
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.csprojAssemblyReference.cache
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Release/netcoreapp2.1/PubTmp/Out/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Release/netcoreapp2.1/PubTmp/Out/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.csproj.CoreCompileInputs.cache
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/RPMCRUDAPIs.csproj.EntityFrameworkCore.targets
*.pdb
.vs/RPMCRUDAPIs/v16/.suo
RPMCRUDAPIs/bin/Debug/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/bin/Debug/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/bin/Release/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/bin/Release/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.csproj.CoreCompileInputs.cache
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.csprojAssemblyReference.cache
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Debug/netcoreapp2.1/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Release/netcoreapp2.1/PubTmp/Out/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Release/netcoreapp2.1/PubTmp/Out/RPMCRUDAPIs.pdb
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.csproj.CoreCompileInputs.cache
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.dll
RPMCRUDAPIs/obj/Release/netcoreapp2.1/RPMCRUDAPIs.pdb
